
@model BusinessLayer.Story

@{
    ViewData["Title"] = "Create";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Story Create</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" />
    <link rel="stylesheet" href="~/css/storyCreate.css" />
</head>
<body>
    <div class="main-container">
        <div class="story-create-edit-1">
            <div class="section"></div>
            <form asp-action="Create" method="post">
            <div class="header" id="header-target-1">
                <div class="bg"></div>
                
                <div class="bg-2"></div>
                <span class="start-writing-here">Start writing here</span>
                <div class="rectangle"></div>

                @* Text editor *@
                <textarea asp-for="Content" class="rectangle-3 editor" maxlength="2000" placeholder="Start your Story...(max lenght - 2000 characters)"></textarea>

                <div class="arrow"></div>
                <div class="arrow-4"></div>

                @* A arrow button for scrolling down *@
                <a href="#header-6-target-2">
                    <div class="arrow-down"></div>
                </a>

                <div class="rectangle-5"></div>
            </div>
            <div class="header-6" id="header-6-target-2">
                <div class="frame"></div>
                <span class="add-images">Add the images needed to present your story</span>
                <div class="rectangle-7"></div>
                <span class="position-images">
                    The images you add will be positioned as they are in this
                    page
                </span>

               @*  ImageUrl input *@
                <div class="unnamed">
                    <input name="ImageUrls" id="image-url-1" type="text" class="unnamed-16" placeholder="Image url" />
                </div>

                <div class="unnamed" style="position: absolute; top: 533px;">
                    <input name="ImageUrls" id="image-url-2" type="text" class="unnamed-16" placeholder="Image url" disabled />
                </div>


                <div class="unnamed" style="position: absolute; top: 603px;">
                    <input name="ImageUrls" id="image-url-3" type="text" class="unnamed-16" placeholder="Image url" disabled />
                </div>

                @* A arrow button for scrolling down *@
                <a href="#finish-story-target">
                    <div class="arrow-down-9"></div>
                </a>
            </div>
            <div class="section-a"></div>
            @* <div class="footer">
                <div class="flex-row-fa">
                    <span class="rhodes">Rhodes</span><span class="address">Address</span><span class="contact">Contact</span><span class="follow-us">Follow us</span>
                </div>
                <div class="flex-row-a">
                    <div class="rectangle-b"></div>
                    <div class="rectangle-c"></div>
                    <div class="rectangle-d"></div>
                </div>
                <div class="flex-row">
                    <span class="phone-number">+33 1 23 45 67 89</span><span class="facebook">Facebook</span><span class="rights-reserved">©2024 Rhodes. <br />All rights reserved.</span><span class="address-e">8, Rue de la Paix, 75002 Paris, France</span><span class="email">contact@email.com</span><span class="instagram">Instagram</span>
                </div>
                <div class="frame-f">
                    <span class="terms-conditions">Terms & Conditions</span><span class="privacy-policy">privacy policy</span>
                </div>
            </div> *@

            @* Title and text arrount the title input *@
            <div class="header-10">
                <div class="frame-11"></div>
                <span class="write-your-way">Write down <br/>your story<br />in your own way!</span><span class="explore-story-creation">Explore the Story creation expirience</span>
            </div>
            <div class="frame-14">
                <span class="good-story-title">A good story needs a good title</span>
                <div class="rectangle-15"></div>
            </div>
            <span class="story-title">
                Take the most suitable title for your sotory so it captivates the
                reador attention from the very begging
            </span>
            
            @* Title input *@
            <div class="button">
                    <input asp-for="Title" type="text" class="unnamed-16" placeholder="Story title" />
            </div>
            
            @* A arrow button for scrolling down *@
            <a href="#header-target-1">
                <div class="arrow-down-17"></div>
            </a>

             @*Text arround the imageUrl and the submit button *@   
            <span class="text-1d">
                Embrace the call of the unknown and light the flame for adventure
                into your readers by adding a 3D map view of the place that you are
                narrating for.
            </span>
            <div class="frame-18">
                <span class="finish-story" id="finish-story-target">Ready to finish your story in the best way?</span>
                <div class="rectangle-19"></div>
            </div>
            <div class="unnamed-1a">
                <input asp-for="MapsUrl" type="text" class="unnamed-16" placeholder="maps url" />
            </div>

            <button type="submit" class="unnamed-1b">
                <span class="save-story">Save Story</span>
            </button>
            </form>
        </div>
    </div>
    
</body>
</html>
@section Scripts {
      @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/storyCreate.js"></script>
    <script>
        const firstInput = document.getElementById('image-url-1');
        const secondInput = document.getElementById('image-url-2');
        const thirdInput = document.getElementById('image-url-3');

        firstInput.addEventListener('input', function() {
            if (firstInput.value.trim() !== '') {
                secondInput.disabled = false;
            } else {
                secondInput.disabled = true;
            }
        });
         secondInput.addEventListener('input', function() {
            if (secondInput.value.trim() !== '') {
                thirdInput.disabled = false;
            } else {
                thirdInput.disabled = true;
            }
        });
    </script>
}